*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/*     background-color: #030303; */
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.headerLogo{
    width: 125px;
}

@media (max-width:576px){
    .headerLogo{
        width: 100px;
    }
}

@media (max-width:437px){
    .headerLogo{
        width: 90px;
    }
    
}
@media (max-width:437px){
    .headerLogo{
        width: 80px;
        margin: 0px -12px;
    }
    
}

.links{
    text-decoration: none;
    height: 20px;
}